grant codeBase "file:myGitServer.jar"{
	permission java.net.SocketPermission "localhost:23456", "listen,resolve";
    	permission java.net.SocketPermission "*:1024-", "accept,resolve";
    	permission java.util.PropertyPermission "user.dir", "read";
    	permission java.io.FilePermission "${user.dir}/-", "read,write";
}; 
